*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    background-color: #4b5868;
}

.contenedorPrincipal{
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.tituloPagina{
    color: white;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.buscar{
    width: 100%;
    margin-bottom: 20px;
}

.buscar input{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.068);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 35px;
    padding: 0px 10px;
}

.subtituloPagina{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42474e;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
}

.subtituloPagina h3, .opciones h3{
    text-align: center;
    color:white;
    font-weight: 200;
    font-size: 17px;
}

.contenedorOpciones{
    width:100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
    border-radius: 0px 0px 20px 20px;
}

.opciones{
    height: 80px;
    text-decoration: none;
    color: white;
    display: flex;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    background-color: #667588;
    border-bottom: 1px solid rgb(139, 139, 139);
}

.opciones:last-child{
    border-radius: 0px 0px 20px 20px;
}

::placeholder{
    color:white;
}

