*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    background-color: #4b5868;
}

.contenedorPrincipal{
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.tituloPagina{
    color: white;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.titulo1{
    margin: 10px 0px;
}
.titulo1, .titulo2{
    text-align: center;
}

.contenedorInformacion{
    width: 100%;
    padding: 10px 10px;
    border:1px solid white;
    border-radius: 20px;
      
}

.contenedorInformacion h3{
    color: white;
}

.contenedorDato{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

.contenedorDato .tituloDato{
    margin-right: 5px;
}
.contenedorDato .dato{
    font-weight: 200;
}

.contenedorIconoEntidad{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 100px;
}


